/* Reset: */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {// this defines what 1 rem is
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    // this defines the layout, it's dependent on the font-size

    // default fontsize is 16px
    // we set it to 10px to be the 1rem
    // 1rem = 10px - it's easier to calculate and rewrite the other element sizes
    // like 160px will be 16 rem bc 160/10
    // 62.5% is 10px in percentage

    //--------------------------------------



// order matters!
// the larger one first!
    @include respond(tab-land) {  // width < 1200
        font-size: 56.25%;  // 1rem = 9px,  9/16
    }

    @include respond(tab-port) {  // width < 900
        font-size: 50%;  // 1rem = 8px,  8/16
    }

    // @include respond(phone) {
    //     // this not necessary here
    // }

    @include respond(big-desktop) {
        font-size: 75%;  // 1rem = 12px,  12/16
    }

}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }

}

::selection {
    background-color: $color-primary;
    color: $color-white;
}




//
